### 1. General info of dataset GSE147766

This is the Jupyter Notebook for dataset GSE147766. Its dataset includes an overall big txt file. As seen below, in the csv file, each row is a gene and each column is a cell.

Thus, we need to transform this txt file and generate an overall AnnData object for all samples. 

GSM4445608	NB01 (RNA-seq)

GSM4445609	NB02 (RNA-seq)

GSM4445610	NB09 (RNA-seq)

GSM4445611	NB11 (RNA-seq)

GSM4445612	NB12 (RNA-seq)

GSM4445613	NB13 (RNA-seq)

GSM4445614	NB14 (RNA-seq)

GSM4445615	NB16 (RNA-seq)

GSM4445616	NB17 (RNA-seq)

GSM4445617	NB18 (RNA-seq)

GSM4445618	NB19 (RNA-seq)

GSM4445619	NB20 (RNA-seq)

GSM4445620	NB21 (RNA-seq)

GSM4445621	NB22 (RNA-seq)

GSM4445622	NB23 (RNA-seq)

GSM4445623	NB24 (RNA-seq)

GSM4445624	NB26 (RNA-seq)

GSM6058205	NB34 (RNA-seq)

GSM6058206	NB37 (RNA-seq)

In [60]:
# Environment setup
import numpy as np
import pandas as pd
import scanpy as sc
import anndata as anndata
import scipy

In [62]:
# inspect the dataset
input = pd.read_csv("/scratch/user/s4543064/xiaohan-john-project/data/GSE147766/GSM4445608_NB01.count.csv.gz", sep=',', index_col=0) # the first column contains gene names and is the index

print(input.head())
print(input.shape) # (33868 genes, 949 cells)

             NB01_AAACCTGTCGTAGATC-1  NB01_AAACGGGAGTGTACTC-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_AAACGGGAGTGTCCCG-1  NB01_AAACGGGCAGTTCATG-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_AAAGATGAGCTTCGCG-1  NB01_AAAGCAACAAGTCTAC-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_AAAGTAGTCCTTTCGG-1  NB01_AAATGCCAGAACAATC-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_AAATGCCTCCGCATCT-1  NB01_AACACGTGTCCGAATT-1  ...  \
MIR1302-2HG                        0                        0  ...
FAM138A                            0                        0  ...
OR4F5                              0                        0  ...
AL627309.1                         0                        0  ...
AL627309.3                         0                        0  ...

             NB01_TTTATGCCAGGCTCAC-1  NB01_TTTCCTCAGATGTCGG-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_TTTCCTCAGCTACCTA-1  NB01_TTTCCTCGTGGTTTCA-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_TTTGCGCGTCTCATCC-1  NB01_TTTGCGCTCTGGAGCC-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_TTTGGTTAGTGGAGAA-1  NB01_TTTGGTTCAACGCACC-1  \
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

             NB01_TTTGTCACACTTACGA-1  NB01_TTTGTCAGTGCCTGTG-1
MIR1302-2HG                        0                        0
FAM138A                            0                        0
OR4F5                              0                        0
AL627309.1                         0                        0
AL627309.3                         0                        0

[5 rows x 949 columns]
(33868, 949)

As shown above, the dataset contains 4058 cells and 23686 genes.

### 2. Overall AnnData object of the dataset

<span style="color:red">**IMPORTANT:**</span> transpose the DataFrame.values to match the AnnData.X

1. `DataFrame.columns`: cell barcodes, which go into `.obs`
2. `DataFrame.index`: gene names, `.var`
3. `DataFrame.values`: the transpose of the expression matrix, `.X`

In [6]:
from pathlib import Path

In [13]:
input = pd.read_csv("xiaohan-john-project/data/GSE147766_RAW/"+sample_name+'.csv', sep=',', index_col=0)

In [17]:
pd.DataFrame(index=input.index)

Empty DataFrame
Columns: []
Index: [MIR1302-2HG, FAM138A, OR4F5, AL627309.1, AL627309.3, AL627309.2, AL627309.4, AL732372.1, OR4F29, AC114498.1, OR4F16, AL669831.2, AL669831.5, FAM87B, LINC00115, FAM41C, AL645608.6, AL645608.2, AL645608.4, LINC02593, SAMD11, NOC2L, KLHL17, PLEKHN1, PERM1, AL645608.7, HES4, ISG15, AL645608.1, AGRN, AL645608.8, RNF223, C1orf159, AL390719.3, LINC01342, AL390719.2, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, AL162741.1, UBE2J2, LINC01786, SCNN1D, ACAP3, PUSL1, INTS11, CPTP, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20, AL391244.2, ANKRD65, AL391244.1, TMEM88B, LINC01770, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, FNDC10, AL691432.2, MIB2, MMP23B, CDK11B, FO704657.1, SLC35E2B, CDK11A, SLC35E2A, NADK, GNB1, AL109917.1, CALML6, TMEM52, CFAP74, AL391845.2, GABRD, AL391845.1, PRKCZ, AL590822.2, PRKCZ-AS1, FAAP20, AL590822.1, SKI, MORN1, RER1, PEX10, PLCH2, AL139246.1, AL139246.4, PANK4, HES5, ...]

[33868 rows x 0 columns]

In [67]:
# Specify directory paths
data_directory = Path('/scratch/user/s4543064/xiaohan-john-project/data/GSE147766/')
write_directory = Path('/scratch/user/s4543064/xiaohan-john-project/write/GSE147766/')

# Loop through all files in the directory
for sample_directory in data_directory.iterdir():
    sample_name = sample_directory.stem
    sample_h5ad = sample_name + '_uni.h5ad'

    input = pd.read_csv("/scratch/user/s4543064/xiaohan-john-project/data/GSE147766/"+sample_name+'.gz', sep=',', index_col=0)

    matrix = scipy.sparse.csr_matrix(input.values.T)
    obs_name = pd.DataFrame(index=input.columns)
    var_name = pd.DataFrame(index=input.index)

    sample = anndata.AnnData(X=matrix, obs=obs_name, var=var_name)

    # Create an observation metric info to store related features
    obs_metrics = pd.DataFrame(index=sample.obs_names) ## Get the identifiers
    obs_metrics['cancer_type'] = 'NeuroblastomaÂ '
    obs_metrics['dataset'] = 'GSE147766'
    obs_metrics['tissue'] = 'Adrenal'
    obs_metrics['sample_barcode'] = sample_name
    obs_metrics['uni_barcode'] = obs_metrics['dataset'] + '_' + obs_metrics.index.astype(str)
    
    sample.obs = obs_metrics
    sample.obs.set_index("uni_barcode", drop=False, inplace=True)
    print(sample)

    # save the anndata object
    output_path = write_directory.joinpath(sample_h5ad)
    sample.write_h5ad(output_path, compression="gzip")

AnnData object with n_obs Ã— n_vars = 1608 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 8347 Ã— 32966
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 949 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 1361 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 17287 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 3217 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 10267 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 6623 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 2763 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 2973 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 5488 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 1075 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 5288 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 465 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 5327 Ã— 32966
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 4667 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 2707 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 5191 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'
AnnData object with n_obs Ã— n_vars = 677 Ã— 33868
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode', 'uni_barcode'

In [68]:
sample.obs

,cancer_type,dataset,tissue,sample_barcode,uni_barcode
uni_barcode,,,,,
GSE147766_NB20_AAACGGGAGCGATCCC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_AAACGGGAGCGATCCC-1
GSE147766_NB20_AAACGGGAGCTAAGAT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_AAACGGGAGCTAAGAT-1
GSE147766_NB20_AAACGGGGTCCTAGCG-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_AAACGGGGTCCTAGCG-1
GSE147766_NB20_AAAGATGCAAACAACA-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_AAAGATGCAAACAACA-1
GSE147766_NB20_AAAGCAAAGGTGTTAA-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_AAAGCAAAGGTGTTAA-1
...,...,...,...,...,...
GSE147766_NB20_TTGGCAACAGTGAGTG-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_TTGGCAACAGTGAGTG-1
GSE147766_NB20_TTTACTGAGGTGGGTT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_TTTACTGAGGTGGGTT-1
GSE147766_NB20_TTTATGCAGTGGGATC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_TTTATGCAGTGGGATC-1
GSE147766_NB20_TTTCCTCGTGAAAGAG-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_TTTCCTCGTGAAAGAG-1
GSE147766_NB20_TTTGTCATCCACGAAT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445619_NB20.count.csv,GSE147766_NB20_TTTGTCATCCACGAAT-1

In [69]:
sample.var

Empty DataFrame
Columns: []
Index: [MIR1302-2HG, FAM138A, OR4F5, AL627309.1, AL627309.3, AL627309.2, AL627309.4, AL732372.1, OR4F29, AC114498.1, OR4F16, AL669831.2, AL669831.5, FAM87B, LINC00115, FAM41C, AL645608.6, AL645608.2, AL645608.4, LINC02593, SAMD11, NOC2L, KLHL17, PLEKHN1, PERM1, AL645608.7, HES4, ISG15, AL645608.1, AGRN, AL645608.8, RNF223, C1orf159, AL390719.3, LINC01342, AL390719.2, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, AL162741.1, UBE2J2, LINC01786, SCNN1D, ACAP3, PUSL1, INTS11, CPTP, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20, AL391244.2, ANKRD65, AL391244.1, TMEM88B, LINC01770, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, FNDC10, AL691432.2, MIB2, MMP23B, CDK11B, FO704657.1, SLC35E2B, CDK11A, SLC35E2A, NADK, GNB1, AL109917.1, CALML6, TMEM52, CFAP74, AL391845.2, GABRD, AL391845.1, PRKCZ, AL590822.2, PRKCZ-AS1, FAAP20, AL590822.1, SKI, MORN1, RER1, PEX10, PLCH2, AL139246.1, AL139246.4, PANK4, HES5, ...]

[33868 rows x 0 columns]

In [70]:
sample.X[10:1000, 10:2000].toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]])

### 3. Confirmation of created AnnData object

In [2]:
output = '/QRISdata/Q6104/Xiaohan/2_AnnData_objs/GSE147766/GSM4445624_NB26.count_uni.h5ad'
sample = anndata.read_h5ad(output)
print(sample)

AnnData object with n_obs Ã— n_vars = 5288 Ã— 33833
    obs: 'cancer_type', 'dataset', 'tissue', 'sample_barcode'

In [3]:
sample.var

Empty DataFrame
Columns: []
Index: [MIR1302-2HG, FAM138A, OR4F5, AL627309.1, AL627309.3, AL627309.2, AL627309.4, AL732372.1, OR4F29, AC114498.1, OR4F16, AL669831.2, AL669831.5, FAM87B, LINC00115, FAM41C, AL645608.6, AL645608.2, AL645608.4, LINC02593, SAMD11, NOC2L, KLHL17, PLEKHN1, PERM1, AL645608.7, HES4, ISG15, AL645608.1, AGRN, AL645608.8, RNF223, C1orf159, AL390719.3, LINC01342, AL390719.2, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, AL162741.1, UBE2J2, LINC01786, SCNN1D, ACAP3, PUSL1, INTS11, CPTP, TAS1R3, DVL1, MXRA8, AURKAIP1, CCNL2, MRPL20, AL391244.2, ANKRD65, AL391244.1, TMEM88B, LINC01770, VWA1, ATAD3C, ATAD3B, ATAD3A, TMEM240, SSU72, FNDC10, AL691432.2, MIB2, MMP23B, CDK11B, FO704657.1, SLC35E2B, CDK11A, SLC35E2A, NADK, GNB1, AL109917.1, CALML6, TMEM52, CFAP74, AL391845.2, GABRD, AL391845.1, PRKCZ, AL590822.2, PRKCZ-AS1, FAAP20, AL590822.1, SKI, MORN1, RER1, PEX10, PLCH2, AL139246.1, AL139246.4, PANK4, HES5, ...]

[33833 rows x 0 columns]

In [4]:
sample.obs

,cancer_type,dataset,tissue,sample_barcode
uni_barcode,,,,
GSE147766_NB26_AAACCTGAGATATGGT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_AAACCTGAGGATGTAT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_AAACCTGAGTCCATAC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_AAACCTGAGTGCGTGA-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_AAACCTGAGTGGGATC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
...,...,...,...,...
GSE147766_NB26_TTTGTCAGTACCGGCT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_TTTGTCAGTTGGACCC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_TTTGTCAGTTTCGCTC-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_TTTGTCATCAGTGCAT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count
GSE147766_NB26_TTTGTCATCATCGGAT-1,Neuroblastoma,GSE147766,Adrenal,GSM4445624_NB26.count

### 4. Convert AnnData objects to SingleCellExperiment objects

In [73]:
from pathlib import Path

import anndata2ri
import rpy2.robjects as robjects
from rpy2.robjects import r
from rpy2.robjects.conversion import localconverter

# Specify directory paths
write_directory = Path('/scratch/user/s4543064/xiaohan-john-project/write/GSE147766')

# Loop through all files in the directory
for file in write_directory.iterdir():
    sample_name = file.stem
    if "_uni.h5ad" in file.name:
        sample_anndata = anndata.read_h5ad(file)
        sample_anndata.X = sample_anndata.X.astype('float32')
        sample_sce_file = sample_name + ".rds"

        with localconverter(anndata2ri.converter):
            sample_sce = anndata2ri.py2rpy(sample_anndata)
        print(sample_sce)
        
        # Save the sce object in .rds file
        robjects.globalenv["sample_sce"] = sample_sce
        sample_sce_path = write_directory / sample_sce_file
        robjects.r("saveRDS(sample_sce, file='{}')".format(sample_sce_path))

class: SingleCellExperiment
dim: 33868 2973
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(2973): GSE147766_NB24_AAACCTGAGATGTTAG-1
  GSE147766_NB24_AAACCTGCAAGCTGTT-1 ...
  GSE147766_NB24_TTTGTCATCCTCAACC-1 GSE147766_NB24_TTTGTCATCGGAGCAA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 949
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(949): GSE147766_NB01_AAACCTGTCGTAGATC-1
  GSE147766_NB01_AAACGGGAGTGTACTC-1 ...
  GSE147766_NB01_TTTGTCACACTTACGA-1 GSE147766_NB01_TTTGTCAGTGCCTGTG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 1075
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(1075): GSE147766_NB22_AAACCTGGTCGCGTGT-1
  GSE147766_NB22_AAACGGGAGGACACCA-1 ...
  GSE147766_NB22_TTTGGTTTCGTCTGAA-1 GSE147766_NB22_TTTGTCAGTTCCACAA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 32966 5327
metadata(0):
assays(1): X
rownames(32966): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(5327): GSE147766_NB34_AAACCCAAGCAGATAT-1
  GSE147766_NB34_AAACCCACAAGTATCC-1 ...
  GSE147766_NB34_TTTGTTGTCATCCTAT-1 GSE147766_NB34_TTTGTTGTCCGTAATG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 2763
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(2763): GSE147766_NB16_AAACCTGCAAGGCTCC-1
  GSE147766_NB16_AAACCTGCAGCCTTTC-1 ...
  GSE147766_NB16_TTTGTCAGTGATGCCC-1 GSE147766_NB16_TTTGTCATCCACTGGG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 5288
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(5288): GSE147766_NB26_AAACCTGAGATATGGT-1
  GSE147766_NB26_AAACCTGAGGATGTAT-1 ...
  GSE147766_NB26_TTTGTCATCAGTGCAT-1 GSE147766_NB26_TTTGTCATCATCGGAT-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 5191
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(5191): GSE147766_NB12_AAACCTGAGCGCTTAT-1
  GSE147766_NB12_AAACCTGCAAGTCTGT-1 ...
  GSE147766_NB12_TTTGTCATCCTCCTAG-1 GSE147766_NB12_TTTGTCATCGTGGACC-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 1608
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(1608): GSE147766_NB17_AAACCTGAGTGTGGCA-1
  GSE147766_NB17_AAACCTGGTAACGTTC-1 ...
  GSE147766_NB17_TTTGTCACAGTGGGAT-1 GSE147766_NB17_TTTGTCAGTAGAAAGG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 1361
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(1361): GSE147766_NB02_AAACCTGTCACGGTTA-1
  GSE147766_NB02_AAACGGGTCCTTTCTC-1 ...
  GSE147766_NB02_TTTGGTTGTGAGGGTT-1 GSE147766_NB02_TTTGGTTTCAAGCCTA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 2707
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(2707): GSE147766_NB23_AAACCTGAGAACAATC-1
  GSE147766_NB23_AAACCTGAGTGTTGAA-1 ...
  GSE147766_NB23_TTTGTCAGTCGACTGC-1 GSE147766_NB23_TTTGTCATCGCGCCAA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 677
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(677): GSE147766_NB20_AAACGGGAGCGATCCC-1
  GSE147766_NB20_AAACGGGAGCTAAGAT-1 ...
  GSE147766_NB20_TTTCCTCGTGAAAGAG-1 GSE147766_NB20_TTTGTCATCCACGAAT-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 465
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(465): GSE147766_NB21_AAACCTGAGTTACCCA-1
  GSE147766_NB21_AAACCTGCACCTCGGA-1 ...
  GSE147766_NB21_TTTACTGCATATGCTG-1 GSE147766_NB21_TTTGTCAAGATCTGCT-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 5488
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(5488): GSE147766_NB15_AAACCTGAGCTACCTA-1
  GSE147766_NB15_AAACCTGCAATGTTGC-1 ...
  GSE147766_NB15_TTTGTCATCGCAGGCT-1 GSE147766_NB15_TTTGTCATCTCGAGTA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 4667
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(4667): GSE147766_NB18_AAACCTGAGAGGGCTT-1
  GSE147766_NB18_AAACCTGCACAGCGTC-1 ...
  GSE147766_NB18_TTTGTCATCTCCTATA-1 GSE147766_NB18_TTTGTCATCTTTAGTC-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 32966 8347
metadata(0):
assays(1): X
rownames(32966): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(8347): GSE147766_NB37_AAACCCAAGATGGTCG-1
  GSE147766_NB37_AAACCCAAGCTTTCTT-1 ...
  GSE147766_NB37_TTTGTTGCATCGATAC-1 GSE147766_NB37_TTTGTTGGTCAGTCCG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 10267
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(10267): GSE147766_NB11_AAACCTGAGACAGGCT-1
  GSE147766_NB11_AAACCTGAGTCATGCT-1 ...
  GSE147766_NB11_TTTGTCATCTTCGAGA-1 GSE147766_NB11_TTTGTCATCTTGTCAT-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 6623
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(6623): GSE147766_NB09_AAACCTGAGACAATAC-1
  GSE147766_NB09_AAACCTGAGGTGCACA-1 ...
  GSE147766_NB09_TTTGTCATCCTACAGA-1 GSE147766_NB09_TTTGTCATCGTTTAGG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 17287
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(17287): GSE147766_NB13_AAACCTGAGACTACAA-1
  GSE147766_NB13_AAACCTGAGAGTAATC-1 ...
  GSE147766_NB13_TTTGTCATCTTGAGGT-1 GSE147766_NB13_TTTGTCATCTTTAGGG-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):

class: SingleCellExperiment
dim: 33868 3217
metadata(0):
assays(1): X
rownames(33868): MIR1302-2HG FAM138A ... AC213203.2 AC213203.1
rowData names(0):
colnames(3217): GSE147766_NB19_AAACCTGCACTCGACG-1
  GSE147766_NB19_AAACCTGCAGCCTATA-1 ...
  GSE147766_NB19_TTTGTCATCCTAGGGC-1 GSE147766_NB19_TTTGTCATCGCTGATA-1
colData names(5): cancer_type dataset tissue sample_barcode uni_barcode
reducedDimNames(0):
mainExpName: NULL
altExpNames(0):